<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mastodon Digest Comparator</title>
    <style>
    {% include "comparison.css" %}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
    {% include "comparison.js" %}
    </script>
</head>
<body>
    {% import "settings-form.html.jinja" as settings %}
    <div class="column">
        <h1>Digest 1</h1>
        {{ settings.settings('1') }}
        <div id="loader-1" class="loading" style="display:none;"><div></div><div></div><div></div><div></div></div>
        <div id="feed-1"></div>
    </div>
    <div class="column">
        <h1>Digest 2</h1>
        {{ settings.settings('2', scorer='Simple') }}
        <div id="loader-2" class="loading" style="display:none;"><div></div><div></div><div></div><div></div></div>
        <div id="feed-2"></div>
    </div>
    </div>
    <div id="settings" class="column">
        <h1>Choose your own</h1>

        {{ settings.settings('3', show_settings=True) }}
        <div id="loader-3" class="loading" style="display:none;"><div></div><div></div><div></div><div></div></div>
        <div id="feed-3"></div>
    </div>
</body>
</html>
